<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="client" class="pojo.Client" scope="prototype">

    </bean>

    <bean name="event" class="pojo.Event" parent="client" scope="prototype">
        <constructor-arg ref="date"/>
    </bean>

    <bean id="date" class="java.util.Date" scope="prototype"/>

    <bean id="logger" class="logger.ConsoleLogger"/>

    <bean id="clientService" class="service.ClientService" scope="prototype">
        <constructor-arg ref="logger"/>
    </bean>

    <bean id="startup" class="StartUp" init-method="init" destroy-method="destroy"/>
</beans>